---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience/Experience.astro";
import logo from "../images/svg/logo-estevez.svg";
import Image from "astro/components/Image.astro";
---

<Layout>
  <main class="bg-white">
    <Experience />
    <div class="z-50 px-[3vw] py-[2vw]">
      <div
        class="flex items-center justify-between font-pt-mono font-bold w-full"
      >
        <div class="overflow-hidden">
          <Image
            src={logo}
            alt="Museo Estevez"
            class="w-[clamp(5rem,10vw,calc(99vw-1rem))]"
            data-animate-reveal-bottom-delay
          />
        </div>
        <div class="overflow-hidden">
          <div
            class="text-[clamp(0.5rem,1vw,calc(99vw-1rem))]"
            data-animate-reveal-bottom-delay
          >
            Rosario, ARG
          </div>
        </div>
      </div>
      <div class="overflow-hidden">
        <h1
          class="font-bold whitespace-nowrap my-8 text-black text-center leading-none text-[clamp(5rem,21vw,calc(98vw-1rem))] relative"
          data-animate-reveal-bottom
        >
          A Naciña.
        </h1>
      </div>
      <div class="h-[32svh] md:h-[30svw]"></div>
      <div>
        <div class="flex justify-between md:flex-row flex-col gap-4">
          <div>
            <h2
              class="text-[clamp(3.2rem,8vw,calc(90vw-1rem))] font-light leading-none"
            >
              Francisco <span
                class="font-extrabold block text-[clamp(3rem,6vw,calc(90vw-1rem))]"
                >ASOREY</span
              >
            </h2>
            <div
              class="w-full text-left font-light text-[clamp(2rem,4vw,calc(99vw-1rem))]"
            >
              1889 - 1961
            </div>
          </div>
          <div class="md:w-1/2">
            <p class="text-[clamp(1rem,2vw,calc(99vw-1rem))] font-light">
              Fue uno de los escultores más destacados de Galicia durante el
              siglo XX. Desde muy joven manifestó un fuerte interés por el
              dibujo y la talla en madera. A lo largo de su carrera desarrolló
              diversas obras profundamente vinculadas con la identidad cultural
              fue uno de los escultores más destacados de Galicia durante el
              siglo XX. Desde muy joven manifestó un fuerte interés por el
              dibujo y la talla en madera. A lo largo de su carrera desarrolló
              diversas obras profundamente vinculadas con la identidad cultural
              gallega, abordando temas relacionados con la vida popular, la
              religiosidad y la tradición. Con el tiempo se estableció en
              Santiago de Compostela, desde donde consolidó su trayectoria
              artística y obtuvo reconocimiento tanto en Galicia como en el
              resto de España.
            </p>
          </div>
        </div>
      </div>
      <div class="h-screen"></div>
    </div>
  </main>
  <style>
    @keyframes reveal-bottom {
      from {
        transform: translateY(150%);
      }
      to {
        transform: translateY(0%);
      }
    }

    [data-animate-reveal-bottom] {
      transform: translateY(150%);
      animation: reveal-bottom 700ms ease-out forwards;
      animation-delay: 400ms;
    }
    [data-animate-reveal-bottom-delay] {
      animation: reveal-bottom 700ms ease-out forwards;
      transform: translateY(100%);
      animation-delay: 400ms;
      animation-duration: 600ms;
    }
  </style>
</Layout>
