---
import BigImage from "../components/BigImage.astro";
import BiographySection from "../components/BiographySection.astro";
import CreditsSection from "../components/CreditsSection.astro";
import Experience from "../components/Experience/Experience.astro";
import Hero from "../components/Hero.astro";
import HistorySection from "../components/HistorySection.astro";
import MaterialsSection from "../components/MaterialsSection.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="bg-white">
    <Experience />
    <Hero />
    <HistorySection />
    <MaterialsSection />
    <BiographySection />
    <BigImage />
  </main>
  <footer
    class="text-white bg-[#15212a] w-full overflow-hidden fixed bottom-0 z-10"
    data-footer
  >
    <CreditsSection />
    <div
      class="text-[clamp(5rem,26vw,calc(98vw-1rem))] tracking-tight leading-none font-pt-mono -translate-x-10"
    >
      ESTEVEZ
    </div>
  </footer>
</Layout>
