---
import BigImage from "../components/BigImage.astro";
import BiographySection from "../components/BiographySection.astro";
import CreditsSection from "../components/CreditsSection.astro";
import Experience from "../components/Experience/Experience.astro";
import Footer from "../components/Footer.astro";
import Hero from "../components/Hero.astro";
import HistorySection from "../components/HistorySection.astro";
import MaterialsSection from "../components/MaterialsSection.astro";
import EstevezSvg from "../components/Ui/EstevezSvg.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="bg-white">
    <Experience />
    <Hero />
    <HistorySection />
    <MaterialsSection />
    <BiographySection />
    <BigImage />
  </main>
  <Footer />
</Layout>
