---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience/Experience.astro";
import logo from "../images/svg/logo-estevez.svg";
import Image from "astro/components/Image.astro";
---

<Layout>
  <main class="bg-white">
    <Experience />
    <div class="z-50 px-[3vw] py-[2vw]">
      <div
        class="flex items-center justify-between font-pt-mono font-bold w-full"
      >
        <div class="overflow-hidden">
          <Image
            src={logo}
            alt="Museo Estevez"
            class="w-[clamp(5rem,10vw,calc(99vw-1rem))]"
            data-animate-reveal-bottom-delay
          />
        </div>
        <div class="overflow-hidden">
          <div data-animate-reveal-bottom-delay>Rosario, ARG</div>
        </div>
      </div>
      <div class="overflow-hidden">
        <h1
          class="font-bold whitespace-nowrap my-8 text-black text-center leading-none text-[clamp(5rem,21vw,calc(98vw-1rem))] relative"
          data-animate-reveal-bottom
        >
          A Naciña.
        </h1>
      </div>
      <div class="h-[30svw]"></div>
      <div>
        <div
          class="w-full text-right font-light text-[clamp(5rem,10vw,calc(99vw-1rem))]"
        >
          1923
        </div>
        <div class="flex justify-between md:flex-row flex-col">
          <div>
            <h2
              class="text-[clamp(4rem,8vw,calc(90vw-1rem))] font-light leading-none"
            >
              Francisco <span
                class="font-extrabold block text-[clamp(3rem,6vw,calc(90vw-1rem))]"
                >ASOREY</span
              >
            </h2>
          </div>
          <div class="md:w-1/2">
            <p class="text-[clamp(1rem,2vw,calc(99vw-1rem))] font-light">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non
              vitae commodi dicta ut eligendi perspiciatis, consequatur ipsa?
              Molestias, nulla sequi. Tempore dolorum recusandae odit ut
              eligendi perspiciatis, consequatur ipsa? Molestias, nulla sequi.
              Tempore dolorum recusandae odit cupiditate!
            </p>
          </div>
        </div>
      </div>
      <div class="h-screen"></div>
    </div>
  </main>
  <style>
    @keyframes reveal-bottom {
      from {
        transform: translateY(100%);
      }
      to {
        transform: translateY(0%);
      }
    }

    [data-animate-reveal-bottom] {
      transform: translateY(100%);
      animation: reveal-bottom 700ms ease-out forwards;
      animation-delay: 400ms;
    }
    [data-animate-reveal-bottom-delay] {
      animation: reveal-bottom 700ms ease-out forwards;
      transform: translateY(100%);
      animation-delay: 400ms;
      animation-duration: 600ms;
    }
  </style>
</Layout>
