---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience/Experience.astro";
import logo from "../images/svg/logo-estevez.svg";
import Image from "astro/components/Image.astro";

const detailImage =
  "https://res.cloudinary.com/dujkztmkx/image/upload/v1774921589/Detalle3_kpc5ra.jpg";
const detatailImage2 =
  "https://res.cloudinary.com/dujkztmkx/image/upload/v1774922311/Detalle2_jbyhjn.jpg";
const bigImage =
  "https://res.cloudinary.com/dujkztmkx/image/upload/v1774922643/Detalle1_ulzmsf.jpg";
const logoEstevez =
  "https://res.cloudinary.com/dujkztmkx/image/upload/v1774922671/IMG_6848_sjibol.png";
---

<Layout>
  <main class="bg-white">
    <Experience />
    <div class="z-50 px-[3vw] py-[2vw]">
      <div
        class="flex items-center justify-between font-pt-mono font-bold w-full"
      >
        <div class="overflow-hidden">
          <Image
            src={logoEstevez}
            alt="Museo Estevez"
            class="w-[clamp(5rem,10vw,calc(99vw-1rem))]"
            width={948}
            height={682}
            data-animate-reveal-bottom-delay
          />
        </div>
        <div class="overflow-hidden">
          <div
            class="text-[clamp(0.5rem,1vw,calc(99vw-1rem))]"
            data-animate-reveal-bottom-delay
          >
            Rosario, ARG
          </div>
        </div>
      </div>
      <div class="overflow-hidden">
        <h1
          class="font-bold whitespace-nowrap my-8 text-black text-center leading-none text-[clamp(5rem,21vw,calc(98vw-1rem))] relative"
          data-animate-reveal-bottom
        >
          A Naciña.
        </h1>
      </div>
      <div class="h-[32svh] md:h-[30svw]"></div>
    </div>
    <section>
      <div
        class="container mx-auto flex justify-between md:flex-row flex-col gap-4"
      >
        <div>
          <h2
            class="text-[clamp(2.2rem,5vw,calc(90vw-1rem))] font-light leading-none"
          >
            HISTORIA
          </h2>
          <div
            class="w-full text-left font-light text-[clamp(2rem,4vw,calc(99vw-1rem))]"
          >
            Naiciña (1922)
          </div>
        </div>
        <div class="md:w-1/2 flex flex-col gap-4">
          <p
            class="text-[clamp(1rem,2vw,calc(99vw-1rem))] font-helvetica font-light"
          >
            Naiciña (1922) representa a una madre con su hijo en brazos, ambos
            vestidos con traje popular gallego. Las figuras miran al frente,
            evocando la frontalidad característica de las vírgenes románicas.
          </p>
          <p
            class="text-[clamp(1rem,2vw,calc(99vw-1rem))] font-helvetica font-light"
          >
            La base de la escultura, semejante a un tronco de árbol, refuerza la
            idea simbólica de la madre como representación de la tierra y de la
            vida. En este sentido, la obra puede interpretarse como una alegoría
            de Galicia como madre protectora.
          </p>
          <p
            class="text-[clamp(1rem,2vw,calc(99vw-1rem))] font-helvetica font-light"
          >
            Destaca la policromía característica de Asorey, que realza la madera
            sin ocultarla, así como la incorporación de elementos metálicos,
            como la vieira que sostiene el niño con la imagen de Santiago
            Apóstol a caballo. La escultura fue presentada en la Exposición
            Nacional de Bellas Artes de 1922, donde despertó gran admiración
            entre el público y la crítica.
          </p>
        </div>
      </div>
    </section>
    <section class="min-h-screen text-white bg-[#15212a] py-24">
      <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 items-start gap-18">
          <div class="space-y-8">
            <h2
              class="text-[clamp(2.2rem,4.5vw,calc(90vw-1rem))] font-light leading-none"
            >
              TÉCNICAS Y MATERIALIDADES
            </h2>
            <div class="flex flex-col gap-4">
              <p
                class="text-[clamp(1rem,2vw,calc(99vw-1rem))] text-justify text-pretty font-light"
              >
                Asorey dominó distintos materiales escultóricos, como la piedra,
                el bronce y la madera. Entre las maderas que utilizaba, el
                castaño era una de sus preferidas.
              </p>
              <p
                class="text-[clamp(1rem,2vw,calc(99vw-1rem))] font-helvetica text-justify text-pretty font-light"
              >
                Desarrolló una técnica particular de policromía destinada a
                resaltar la materialidad de la madera. Para ello intervenía
                previamente la superficie con herramientas punzantes y luego
                aplicaba el color mezclado con aglutinantes como miel, huevo o
                resina, permitiendo que el pigmento penetrara en el material y
                se integrara con él.
              </p>
              <p
                class="text-[clamp(1rem,2vw,calc(99vw-1rem))] font-helvetica text-justify text-pretty font-light"
              >
                Entre sus aportes más innovadores se encuentra la incorporación
                de elementos metálicos en esculturas de madera, recurso que le
                permitía generar contrastes de textura y reforzar el realismo de
                sus composiciones.
              </p>
            </div>
          </div>
          <div>
            <div>
              <Image src={detailImage} alt={"a"} width={1900} height={1266} />
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="min-h-screen text-black bg-white py-24">
      <div class="container mx-auto">
        <div class="grid grid-cols-1 md:grid-cols-2 items-start gap-6">
          <div class="space-y-8">
            <h2
              class="text-[clamp(2.2rem,4.8vw,calc(90vw-1rem))] font-light leading-none"
            >
              FRANCISCO <span class="font-bold inline">ASOREY</span>
            </h2>
          </div>
          <div>
            <div class="space-y-6">
              <Image
                src={detatailImage2}
                alt={"Detalle de la obra"}
                width={1900}
                height={1266}
                class="h-64 object-cover object-top"
              />
              <div class="flex flex-col gap-8">
                <p
                  class="text-[clamp(1rem,2vw,calc(99vw-1rem))] font-helvetica text-justify text-pretty font-light"
                >
                  Francisco Asorey (Cambados, 1889 – Santiago de Compostela,
                  1961) fue uno de los escultores más destacados de Galicia
                  durante el siglo XX. Desde muy joven manifestó un fuerte
                  interés por el dibujo y la talla en madera.
                </p>
                <p
                  class="text-[clamp(1rem,2vw,calc(99vw-1rem))] font-helvetica text-justify text-pretty font-light"
                >
                  A lo largo de su carrera desarrolló diversas obras
                  profundamente vinculadas con la identidad cultural gallega,
                  abordando temas relacionados con la vida popular, la
                  religiosidad y la tradición. Con el tiempo se estableció en
                  Santiago de Compostela, desde donde consolidó su trayectoria
                  artística y obtuvo reconocimiento tanto en Galicia como en el
                  resto de España.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <Image
        src={bigImage}
        class="w-svw h-auto"
        width={1900}
        height={1266}
        alt=""
      />
    </section>
    <section class="text-white bg-[#15212a] pt-24">
      <div class="container mx-auto">
        <div class="grid grid-cols-12 w-full text-sm">
          <div class="col-span-6 space-y-4">
            <div>
              <div class="font-bold">
                Investigación, texto y conservación de la obra
              </div>
              <div class="font-light">
                Mariana Duarte. Licenciada en Museología y Conservadora del
                Museo Estévez
              </div>
            </div>
            <div>
              <div class="font-bold">
                Asesoramiento en conservación y restauración
              </div>
              <div class="font-light">
                María Ana Sánchez Catini. Restauradora del Museo Estévez
              </div>
            </div>
            <div>
              <div class="font-bold">Colaboración y aporte documental</div>
              <div class="font-light">
                Carmen Azorey. Licenciada en Historia del Arte y nieta del
                artista
              </div>
            </div>
          </div>
          <div class="col-start-10 col-span-3 space-y-4">
            <div>
              <div class="font-semibold">Fotografía</div>
              <div class="font-light">Rodrigo Roger</div>
            </div>
            <div>
              <div class="font-semibold">Diseño gráfico / diseño editorial</div>
              <div class="font-light">Framik & Nap</div>
            </div>
            <div>
              <div class="font-semibold">Autoridades</div>
              <div class="font-light">Directora Prof. Cons. Analía García</div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
  <footer class="text-white bg-[#15212a] overflow-hidden -mt-30">
    <div
      class="text-[clamp(5rem,26vw,calc(98vw-1rem))] tracking-tight leading-none font-pt-mono -translate-x-10 translate-y-48"
    >
      ESTEVEZ
    </div>
  </footer>
</Layout>
<style>
  @keyframes reveal-bottom {
    from {
      transform: translateY(150%);
    }
    to {
      transform: translateY(0%);
    }
  }

  [data-animate-reveal-bottom] {
    transform: translateY(150%);
    animation: reveal-bottom 700ms ease-out forwards;
    animation-delay: 400ms;
  }
  [data-animate-reveal-bottom-delay] {
    animation: reveal-bottom 700ms ease-out forwards;
    transform: translateY(100%);
    animation-delay: 400ms;
    animation-duration: 600ms;
  }
</style>
