---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
---

<Layout>
  <main class="bg-white">
    <Experience />
    <div class="z-50 px-[3vw] py-[2vw]">
      <div
        class="flex items-center justify-between font-pt-mono font-bold w-full"
      >
        <div>
          <p class="leading-none">
            MUSEO MUNICIPAL <br /> DE ARTE DECORATIVO<br /> FIRMA Y ODILO<br /> ESTEVEZ
          </p>
        </div>
        <div>Rosario, ARG</div>
      </div>
      <h1
        class="font-bold whitespace-nowrap text-black text-center text-[clamp(5rem,22vw,calc(99vw-1rem))] leading-none relative"
      >
        A Naciña
      </h1>
      <div class="h-svh"></div>
      <div>
        <div
          class="w-full text-right font-light text-[clamp(5rem,10vw,calc(99vw-1rem))]"
        >
          1923
        </div>
        <div class="flex justify-between md:flex-row flex-col">
          <div>
            <h2
              class="text-[clamp(4rem,8vw,calc(90vw-1rem))] font-light leading-none"
            >
              Francisco <span
                class="font-extrabold block text-[clamp(3rem,6vw,calc(90vw-1rem))]"
                >ASOREY</span
              >
            </h2>
          </div>
          <div class="md:w-1/2">
            <p class="text-[clamp(1rem,2vw,calc(99vw-1rem))] font-light">
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Non
              vitae commodi dicta ut eligendi perspiciatis, consequatur ipsa?
              Molestias, nulla sequi. Tempore dolorum recusandae odit ut
              eligendi perspiciatis, consequatur ipsa? Molestias, nulla sequi.
              Tempore dolorum recusandae odit cupiditate!
            </p>
          </div>
        </div>
      </div>
      <div class="h-screen"></div>
    </div>
  </main>
</Layout>
