---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
---

<Layout>
  <main class="bg-white">
    <Experience />
    <div class="h-megafull z-50">
      <h1 class="font-bold text-white text-8xl relative">MUSEO</h1>
    </div>
  </main>
</Layout>
