---
import Image from "astro/components/Image.astro";

const bigImage =
  "https://res.cloudinary.com/dujkztmkx/image/upload/v1774922643/Detalle1_ulzmsf.jpg";
---

<section id="big-image-section" class="relative z-50">
  <Image
    src={bigImage}
    class="w-svw h-auto"
    width={1900}
    height={1266}
    alt=""
  />
</section>

<script>
  const section = document.getElementById("big-image-section");
  const footer = document.querySelector("[data-footer]");

  function updateMargin() {
    if (section && footer) {
      section.style.marginBottom = footer.getBoundingClientRect().height + "px";
    }
  }

  updateMargin();
  window.addEventListener("resize", updateMargin);
</script>
