---

---

<section class="text-white bg-[#15212a] py-24">
  <div class="container mx-auto">
    <div class="grid grid-cols-12 w-full text-sm">
      <div class="col-span-6 space-y-4" data-credits-left>
        <div>
          <div class="font-bold">
            Investigación, texto y conservación de la obra
          </div>
          <div class="font-light">
            Mariana Duarte. Licenciada en Museología y Conservadora del Museo
            Estévez
          </div>
        </div>
        <div>
          <div class="font-bold">
            Asesoramiento en conservación y restauración
          </div>
          <div class="font-light">
            María Ana Sánchez Catini. Restauradora del Museo Estévez
          </div>
        </div>
        <div>
          <div class="font-bold">Colaboración y aporte documental</div>
          <div class="font-light">
            Carmen Asorey. Licenciada en Historia del Arte y nieta del artista
          </div>
        </div>
      </div>
      <div class="col-start-10 col-span-3 space-y-4" data-credits-right>
        <div>
          <div class="font-semibold">Fotografía</div>
          <div class="font-light">Rodrigo Roger</div>
        </div>
        <div>
          <div class="font-semibold">Diseño gráfico / diseño editorial</div>
          <div class="font-light">Framik & Nap</div>
        </div>
        <div>
          <div class="font-semibold">Autoridades</div>
          <div class="font-light">Directora Prof. Cons. Analía García</div>
        </div>
      </div>
    </div>
  </div>
</section>
<script>
  import { gsap, ScrollTrigger } from "../lib/gsap";
  const creditsLeft = document.querySelector<HTMLElement>(
    "[data-credits-left]",
  );
  const creditsRight = document.querySelector<HTMLElement>(
    "[data-credits-right]",
  );
  const mainEl = document.querySelector<HTMLElement>("main");

  if (mainEl) {
    const tl = gsap.timeline({ paused: true });

    if (creditsLeft && creditsRight) {
      tl.from(creditsLeft, {
        x: -40,
        opacity: 0,
        ease: "power2.out",
        duration: 1,
      }).from(
        creditsRight,
        {
          x: 40,
          opacity: 0,
          ease: "power2.out",
          duration: 1,
        },
        "<",
      );
    }

    ScrollTrigger.create({
      trigger: mainEl,
      start: "bottom 55%",
      animation: tl,
      scrub: true,
    });
  }
</script>
