---
import "../styles/global.css";
---

<html lang="es">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>A Naciña - Francisco Asorey</title>
    <meta
      name="description"
      content="Sitio web dedicado a A Naciña, obra de Francisco Asorey."
    />
  </head>
  <body class="bg-white antialiased">
    <slot />
    <script>
      import { initLenis } from "../lib/Lenis";
      initLenis();
    </script>
  </body>
</html>
